<!---side bar--->
<div class="four columns">
    <div class="side-bar sidetexte">
        <div class="side-item">
            <h4 class="heading-bar"><span>{{ 'sidebar.title'|trans }}</span></h4>
            <input type="submit" value="submit input">
            <br>
            <input type="submit" value="submit input">
            <br>
            <input type="submit" value="submit input">
        </div>
        <div class="side-item">
            <h4 class="heading-bar"><span>Teamspeak</span></h4>
            <a class="button button-primary" value="ts.badblock.fr" href="{{ ts3_query }}"><i
                        class="icon icon-chat"></i>
                ts.badblock.fr</a>
        </div>
        <div class="side-item">
            <h4 class="heading-bar"><span>Minecraft</span></h4>
            <a class="button button-primary" href="{{ path_for('play') }}"><i
                        class="icon icon-play"></i>play.badblock.fr
            </a>
        </div>
        <div class="side-item">
            <h4 class="heading-bar"><span>{{ 'socials_network'|trans }}</span></h4>
            <ul class="sidebar-social-links">
                <li><a href="https://twitter.com/badblockgame" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="https://fr-fr.facebook.com/BadBlockGame/" target="_blank"><i class="icon-facebook"></i></a>
                </li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!---Slide bar Fin--->